.panel{
	border-width: 4px;
	border-style: solid;
	text-align: center;
	height: 485px;

}
.thumbnail{
	border-width: 2px;
	border-style: solid;
	text-align: center;
}
.button{
	align-self: center;

}
.button1{
	align-self: center;
	background-color: orange;
}
.container-button{
	align-self: center;
	align-items: center;
	align-content: center;
	text-align: center;

}