.navbar {
    background-color: rgb(0, 0, 0);

}
.navItem {
    color: white;
  }

.dropdown{
  -webkit-text-fill-color: white;
}
.menuItem{
  color: black;
  background-color: rgb(24, 24, 43);


}
.image{
  height: 30px;
  width: 25px;
}