.div1{

    align-content: center;
    align-items: center;
    align-self: center;
}
.div2{

    align-content: center;
    align-items: center;
    align-self: center;
}
.div3{

    align-content: center;
    align-items: center;
    align-self: center;
}
.button{
    align-content:center;
    align-items: center;
    align-self: center;
}
.h{
    align-content: center;
    align-items: center;
    align-self: center;
}
.body{
    align-content: center;
    align-items: center;
    align-self: center;
}