table#t02 {
    width: 100%; 
    background-color: #eba3a3;
}
table#t03 {
    width: 100%; 
    background-color: #eba3a3;
}
table#t04 {
    width: 100%; 
    background-color: #baeba3;
}
table#t05 {
    width: 100%; 
    background-color: #eba3eb;
}