.body {
    background: rgb(255, 255, 255);
    align-content: center;
    align-items: center;
    align-self: center;
}
.div1 {
    background: rgb(255, 255, 255);
    text-align: center;
}

.div2 {
    background: rgb(237, 211, 245);
    text-align: center;
}

table#t03 {
    border: "1px solid white";
    width: 100%; 
    background-color: #d8bdbd;
    text-align: "center"
}
