.formulario{
    align-content: center;
    align-items: center;
    align-self: center;
}
.label{
    align-self: center;
}
.label2{
    align-self: center;
}
.label3{
    align-self: center;
}
.label4{
    align-self: center;
}
.body{
    text-align: center;
    align-content: center;
    align-items: center;

}
.div1{
    align-content: center;
    align-items: center;
    align-self: center;

}
.div1{
    align-content: center;
    align-items: center;
    align-self: center;

}
.div2{
    align-content: center;
    align-items: center;
    align-self: center;

}
.div3{
    align-content: center;
    align-items: center;
    align-self: center;

}
.div4{
    align-content: center;
    align-items: center;
    align-self: center;

}
.div5{
    align-self: center;

}
.div6{
    align-content: center;
    align-items: center;
    align-self: center;

}
.columna{
    width: 40%;
    float: left;
}
.columna2{
    width: 40%;
    float: left;
}