.body {
    background: rgb(255, 255, 255);
    align-content: center;
    align-items: center;
    align-self: center;
}
.div1 {
    background: rgb(255, 255, 255);
    text-align: center;
}
.div2 {
    background: rgb(255, 255, 255);
    text-align: center;
}
.div3 {
    background: rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}
.div4 {
    background: rgb(255, 255, 255);
    align-content: center;
}
.inputs {
    text-align: center;
    align-content: center;
}
.CodeMirror { 
    text-align: left!important; 
    border: 1px solid rgb(141, 25, 25);
    height: 700px;
    width: auto;
    align-content: center;
    align-items: center;
    align-self: center;
    
}
.form {
    background: rgb(32, 34, 32);
    align-content: center;
    align-items: center;
    align-self: center;
}
.hint {
	margin: 15px 0;
	font-style: italic;
	color: #999;
}

.ReactCodeMirror {
	border: 1px solid #ccc;
}

.labels {
    text-align: center;
    align-content: center;
    align-items: center;
}